/*Variables y mixins*/
/*1*/
/*5*/
/*4*/
/*2*/
/*3*/
/*Negro*/
/*-----------------------*/

/*----------Maquetacion-------------*/

/*Contenedor Principal (Tabla)*/

#contenedorGlobal {
  width: 90%;
  margin: 15px auto;
  display: table;
  border-radius: 10px;
}
/*Div lateral con argollas (Celda)*/

#divArgollas {
  background-image: url('../img/argolla.png');
  background-repeat: repeat-y;
  background-size: 100% ;
  display: table-cell;
  width: 3%;
  /*border-right: 3px solid @colorBordes;*/

}
/*Div lateral con toda la interfaz (Celda)*/

#contenedorCuaderno {
  display: table-cell;
  width: 90%;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 0;
}
#header {
  height: 150px;
  background-color: #222222;
  /*Centrado vertical*/

}
#header .row-fluid {
  margin-top: 4%;
  text-align: center;
}
/*Contiene la info generado por PHP*/

#contenedorInformacion {
  border-right: 1px solid #444444;
  border-bottom: 1px solid #444444;
  background-color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
}
#nav-excepciones-buttons {
  border-top: 1px solid #444444;
  border-right: 1px solid #444444;
  border-bottom: 1px solid #444444;
  background-color: #333333;
}
#divNavButtons {
  border-right: 1px solid #444444;
}
#footer {
  height: 50px;
  background-color: #222222;
}
.span6 {
  padding: 5px;
}
/*-----------------------*/

/*----------Sprites-------------*/

.sprite,
#botonSalir {
  background: url('../img/sprite.png');
  display: block;
}
#botonSalir {
  background-position: -486px -12px;
  width: 43px;
  height: 69px;
  border: none;
}
#button-home {
  background-position: -296px -10px;
  width: 46px;
  height: 70px;
}
#button-alertas {
  background-position: -422px -10px;
  width: 54px;
  height: 71px;
}
#button-perfil {
  background-position: -356px -8px;
  width: 49px;
  height: 72px;
}
#logo-header {
  background-position: 1px 0;
  width: 246px;
  height: 71px;
}
#button-left {
  background-position: -12px -98px;
  width: 23px;
  height: 32px;
}
#button-right {
  background-position: -44px -98px;
  width: 22px;
  height: 32px;
}
#button-home-periodo {
  background-position: -73px -98px;
  width: 32px;
  height: 32px;
}
#button-remove {
  background-position: -115px -106px;
  width: 17px;
  height: 16px;
}
#button-editar {
  background-position: -139px -106px;
  width: 16px;
  height: 16px;
}
/*-----------------------*/

/*----------Estilos de textos-------------*/

body {
  margin: 0;
  font-size: 1em;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Coda', sans-serif;
  background-image: url('../img/bg.png');
}
p {
  margin: 5px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0084dd;
}
h1,
h2,
h3 {
  color: #00a6ff;
  font-size: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 5px;
  line-height: 100%;
}
h1 a,
h2 a,
h3 a {
  color: #00a6ff;
}
h2 {
  font-size: 1.5em;
}
ul {
  list-style-image: url('../img/list-type.png');
}
ul li {
  margin: 5px;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea {
  border: none;
  background: #555555;
  color: white;
}
/*-----------------------*/

/*----------Estilos formularios-------------*/

.divFormularios .descripcionFormularios {
  margin-bottom: 15px;
  border-bottom: 1px solid #444444;
}
.divFormularios .divInputsFormularios * {
  margin: 5px;
}
.divFormularios .divInputsFormularios div {
  margin-top: 0;
  margin-bottom: 15px;
}
.divFormularios .divInputsFormularios .error {
  color: #b94a48;
}
/*-----------------------*/

/*----------Estilos divs de la pagina-------------*/

#divButtonsHeader,
#divNavButtonsPHP {
  text-align: center;
}
#divButtonsHeader span,
#divNavButtonsPHP span {
  display: inline-block;
  margin: 5px;
}
#divButtonsHeader a,
#divNavButtonsPHP a {
  text-decoration: none;
}
.divTextoMensajesError {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  padding: 5px;
  margin: 0;
}
.divTextoMensajesError strong {
  text-decoration: underline;
}
.divTextoMensajesExito {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  padding: 5px;
  margin: 0;
}
.divTextoMensajesExito strong {
  text-decoration: underline;
}
#divNombreProfile {
  background-color: #222222;
  text-align: right;
}
#divNombreProfile #divImgProfile img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
#divNombreProfile #divImgProfile a {
  color: white;
}
#divNombreProfile #divImgProfile p {
  display: inline;
}
/*Es un div, con informacion generada por php. Es una seccion con contenido*/

.moduloApp {
  border: 1px solid #444444;
  border-radius: 5px;
  width: 98%;
  margin: 5px;
}
.moduloApp .divTituloModulo {
  border-bottom: 1px solid #444444;
  background-color: #222222;
  padding: 5px;
}
.moduloApp .divTituloModulo h1 {
  margin: 0;
}
.moduloApp .divTituloModulo i {
  float: right;
}
.moduloApp .linkCollapse {
  width: 100%;
  display: block;
}
#divError404 {
  text-align: center;
}
#divError404 img {
  display: block;
  margin: 0 auto;
  border: 5px solid #444444;
}
/*-----------------------*/

/*----------Componentes y elementos particulares-------------*/

.tablaInformacion {
  width: 100%;
}
.tablaInformacion td {
  color: white;
  width: 50%;
}
.tablaInformacion td:last-child {
  text-align: center;
}
.tablaInformacion td:last-child span {
  margin: 0 auto;
}
.tablaInformacion tr:nth-child(even) {
  background-color: #444444;
}
.tablaInformacion tr:nth-child(odd) {
  background-color: #555555;
}
.tablaNotas {
  width: 100%;
}
.tablaNotas td {
  color: white;
  text-align: center;
  background-color: #555555;
}
.tablaNotas td span {
  margin: 0 auto;
}
.tablaNotas th {
  background-color: #444444;
}
/*-----------------------*/

/*----------Media Queries-------------*/

/*Pantallas pequeñas*/

@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    background: none;
  }
  /*Contenedor Principal (Tabla)*/
  
  #contenedorGlobal {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  /*Div lateral con argollas (Celda)*/
  
  #divArgollas {
    display: none;
  }
  /*Div lateral con toda la interfaz (Celda)*/
  
  #contenedorCuaderno {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0;
    width: 100%;
    display: block;
  }
  #header .row-fluid {
    margin-top: 0;
  }
  #header #logo-header {
    margin: 0 auto;
    text-align: center;
  }
  h1,
  h2 {
    font-size: 1.2em;
    line-height: 100%;
  }
  #divNombreProfile {
    text-align: center;
  }
}
/*-----------------------*/

